h4 {
  text-transform: none;
  color: var(--primary-color) !important;
  margin-bottom: 8px;
  text-align: center;
}

.custom-input-field {
  width: 100%;
  min-height: 54px;
  max-height: 174px;
  overflow-y: auto;
}

.lof-popup {
  background: var(--box-1st-color);;
  box-shadow: var(--box-shadow);
  width: 281px;
  border-radius: 6px;
  align-self: center;
  h6 {
    color: var(--primary-color) !important;
  }
}

.healing-registration-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 20px);
  margin: auto;
  justify-content: center;

  .card {
    width: 18rem;
    background: var(--section-1st-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: 15px;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 23px;
    }
    .card-text {
      color: var(--para-2nd-color);
      font-size: 20px;
      line-height: 22px;
    }
  }
}
.form-check-input {
  padding: 12px !important;
  margin-bottom: 5px;
}

.container {
  background: var(--section-1st-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 10px 15px;
}

.form-check,
.form-check-label {
  display: flex;
  align-items: center;
}
.selectCountry {
  display: flex;
  white-space: nowrap;
  margin: 0 8px;

  select {
    margin: 0 8px;
    max-width: 210px;

    @media (min-width: 768px) {
      min-width: 190px;
    }
  }
}

.healing-sub-container {
  .card {
    width: 294px;
    background: var(--section-1st-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: 10px;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 23px;

      .card-title {
        border-bottom: 1px solid var(--font-icon-color);
      }
    }
    .card-text {
      color: var(--para-2nd-color);
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.health-points {
  background: var(--section-1st-color);
  border-radius: 10px;
  p {
    font-size: min(max(16px, 2vw), 20px) !important;
  }
  .points-list {
    list-style-type: decimal;
    li {
      font-size: min(max(16px, 2vw), 18px) !important;
    }
  }
}
